spring-core-beans/src/test/resources/META-INF/spring/demo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns="http://learning.springboot/schema/demo"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://learning.springboot/schema/demo"
        elementFormDefault="qualified"
>
    <xsd:element name="message">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="value" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>

